@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'sauceOneBoldItalic';
    src: url('/src/assets/fonts/OpenSauceOne-BoldItalic.woff');
  }
  @font-face {
    font-family: 'sauceOneItalic';
    src: url('/src/assets/fonts/OpenSauceOne-Italic.woff');
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

.slider-img{
  @apply w-1/2 h-auto my-2 hover:scale-110 hover:cursor-pointer
}
.p-text{
  @apply text-[12px] leading-[12px]  
}
.tittle{
  @apply text-xl ml-16 uppercase
}
